<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="linusfessler.alarmtiles">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/activity_main_title"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.LauncherActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoDisplay"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/activity_settings_title" />
        <activity android:name=".activities.AboutActivity" />

        <activity
            android:name=".activities.AlarmActivity"
            android:label="@string/activity_alarm_title"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true"
            android:theme="@style/AlarmTheme" />

        <service
            android:name=".sleeptimer.SleepTimerTileService"
            android:icon="@drawable/ic_music_off_24px"
            android:label="@string/sleep_timer"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".timer.TimerTileService"
            android:icon="@drawable/ic_hourglass_empty_24px"
            android:label="@string/timer"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".stopwatch.StopwatchTileService"
            android:icon="@drawable/ic_timer_24px"
            android:label="@string/stopwatch"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service android:name=".services.AlarmService" />

        <service
            android:name=".services.MusicSchedulerService"
            android:label="Music Scheduler Service"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name=".receivers.AlarmResumeReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>